* {
    font-family: Lato, Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
}


.header {
    display: flex;
    justify-content: space-between;
    flex: 1 auto;
}

a {
    text-decoration: none;
    color: palevioletred;
    font-weight: 600;
}

ul.header-links {
    display: flex;
    gap: 20px;
}
ul {
    list-style: none;
    align-items: center;
}

.header div {
    color: palevioletred;
    font-size: 25px;
    font-weight: 600;
    align-self: center;
    padding-left: 5px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.hero div {
    padding-bottom: 30px;
    font-weight: 600;
}

.info-container {
    display: flex;
    flex-direction: column;
    padding: 50px 0 70px 0;
    align-items: center;
}

.info-paragraph {
    display: flex;
    padding: 0 250px 30px 250px;
    flex-direction: column;
}

.work-highlights {
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}

.video-container {
    display: flex;
    padding: 0 100px 0 100px;
    align-items: flex-start;
    justify-content: center;
}

.video {
    display: flex;
    flex-direction: column;
    padding: 0 5px 5px 5px;
}

.video-caption {
    padding: 10px 10px 20px 10px;
}

.CTA-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 30px 0;
}



.contact-me {
    padding: 50px 60px 15px 60px;
    font-size: 20px;
    font-weight: 500;
}

.contact-links {
    padding: 0 60px 100px 60px;
    display: flex;
    flex-direction: row;
    font-size: 14px;
}

.footer {
    padding: 5px 0 5px 0;
    background-color: pink ;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

