* {
    font-family: Lato, Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
    line-height: 1.5;
    box-sizing: border-box;
    background-color: black;
}


.header {
    display: flex;
    justify-content: space-between;
    flex: 1 auto;
    align-items: center;
}

a {
    text-decoration: none;
    color: yellow;

}

ul.header-links {
    display: flex;
    gap: 40px;
    font-size: 20px;
    font-weight: 600;
    padding-right: 1vw;
}
ul {
    list-style: none;
    align-items: center;
}

.header .name {
    font-size: 24px;
    font-weight: 600;
    align-self: center;
    padding-left: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

.drpbtn {
    color: yellow;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px palevioletred;
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content a {
    color: yellow;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-weight: 300;
  }


.title {
    font-size: 32px;
    font-weight: 600;
    padding-top: 30px;
    justify-content: center;
    display: flex;
    color: white;
    padding-bottom: 50px;
}


.work-highlights {
    padding: 80px 5px 30px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.video {
    display: flex;
    flex-direction: column;
    padding: 0 30px 5px 30px;
    width: 400px;
}

.video-caption {
    padding: 5% 5% 20px 5%;
    font-size: 14px;
    font-weight: 300;
    color: white;
}





.contact-me {
    padding: 50px 5% 15px 5%;
    font-size: 16px;
    font-weight: 500;
}

.contact-links {
    padding: 0 60px 100px 60px;
    display: flex;
    flex-direction: row;
    font-size: 14px;
}

.footer {
    padding: 5px 0 5px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    border: solid palevioletred;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    color: white;
}





@media only screen and (max-width: 600px) {

    .header div {
        font-size: 16px;
    }

    .title {
        padding: 5vw 2vw 5vw 2vw;
    }

    .work-highlights {
        padding: 5vw 2vw 5vw 2vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .video-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .video {
        flex-direction: column;
        align-items: center;
        padding-bottom: 5vw;
    }

    video {
        width: 90%;
    }

    .contact-links {
        padding: 0 2vw 5vw 2vw;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}